@model TP2024_Etapa4_26012_24200_18577.Models.CondicoesContratuai

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CondicoesContratuai</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ccid" />
            <div class="form-group">
                <label asp-for="ValorRenda" class="control-label"></label>
                <input asp-for="ValorRenda" class="form-control" />
                <span asp-validation-for="ValorRenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DespesasInclusas" class="control-label"></label>
                <input asp-for="DespesasInclusas" class="form-control" />
                <span asp-validation-for="DespesasInclusas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitasPermitidas" class="control-label"></label>
                <input asp-for="VisitasPermitidas" class="form-control" />
                <span asp-validation-for="VisitasPermitidas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorCaucao" class="control-label"></label>
                <input asp-for="ValorCaucao" class="form-control" />
                <span asp-validation-for="ValorCaucao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
