@model TP2024_Etapa4_26012_24200_18577.Models.TipoAlojamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoAlojamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoTipoAlojamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoTipoAlojamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Taid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
